html{
    font-size: 15px;    
}


body{
    margin:0px;
    padding: 0px;
    font-family: monospace;
}

a{
    all:unset;
    cursor:grab;
}

h1{
    text-align: center;
}
hr{
    margin: 8vw;
}
.menu{
    width: 3vw;
    height: 100vh;
    transition:0.5s;
    background-color: #333333;
    float:left;
    position: fixed;
    
}
.menu button{
    margin-top: 30px;
    text-indent: -9999px;
    margin-left: 5px;
    background-image: url("../img/main-menu.png");
    background-size: 2vw;
    background-repeat: no-repeat;
    border:none;
    width: 2vw;
    height: 2vw;
    background-color: transparent;
}
.menu ul{
    
    display: none;
    text-indent: -99px;
    list-style:none;
    padding: 20px;
    margin-left: 0.5vw;
    width: 15vw;
    font-size: 1vw;
}
.menu li{
    padding: 10px;
    width:15vw;
}


.menu:hover>button{
    display: none;
}

.menu:hover>ul{
    display: block;
    text-indent: 0px;
    color: azure;
}
.menu:hover>li{
    text-indent: 0px;
    font-size: 1vw;
    color: azure;
}
.menu:hover +main{
    width: 80vw;
}

.menu:hover{
    text-align: left;
    align-content: baseline;
    float: left;
    background-color: rgb(51, 51, 51);
    height: 100vh;
    width: 15vw;
    font-size: 25px;
    color:#333333;
    position: fixed;
}


main{
    transition: 0.5s;
    float:right;
    width: 95vw;
    z-index: 1;
}



.content{
    padding-top:5vh;
    margin:50px;    
    padding-left: 7vw;
    padding-right: 10vw;
    display: flex;
    height: 60%;
}
.content2{
    margin:50px;
    padding-left: 8vw;
    display: flex;
}


#foto{
    border-radius: 100%;
    width: 248px;
    height: 248px;
}
#projImagem{
    margin-top: 20px;
    width: 148px;
    height: 148px;
}

.topico2{
    margin-top: 5px;
    max-height: 10vh;
    max-width: 25vw;
    min-width: 25vw;
}
.topico{
    margin-top: 5px;
    align-content: center;
    display: flex;
}
.topico p{
    width: 50vw;
    margin-left: 3vw;
}


.titulo{
    display: flex;
}
.titulo h2{
    margin-left:15px;
}
.p-wrapper{
    display: flex;
    height: 60vh;
    
}
.proj{
    padding-left: 0vw;
    margin-right: 6vw;
}


.proj div{
    margin: 2px;
}

.caroussel{
    margin: 0 auto;
    position: relative;
    height:12vh;
    background-color: #333333;
    box-shadow: 0px 0px 15px black;
    width: 70vw;
    border-radius: 5% / 50%;
}
.wrapper{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gallery{
    gap: 20vw;
    display: flex;
    flex-flow: row nowrap;
}
.item{
    margin-top: 1vh;
    height: 10vh;
    flex-shrink: 0px;
    opacity: 0.5;
    border-radius: 30%;
}
.current-item{
    opacity: 1;
}

.left-button,.right-button{
    
    font-size: 16px;
    width: 110px;
    color: aliceblue;
    position:absolute;
    text-align: center;
    bottom: 0;
    top:0;
    left:0;
    cursor: pointer;
    border: none;
    
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    background: linear-gradient(to left,transparent 0%, black 200%);
    z-index: 2;
    opacity: 0.5;
    transition:0.2s;
}
.right-button{
    right:0;
    left:auto;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background: linear-gradient(to right,transparent 0%, black 200%);
}
.left-button:hover,.right-button:hover{
    opacity: 1;
}



.contactForm{
    position: relative;
    height: 50vh;
    margin:70px;
    padding-left: 8vw;
    padding-right: 8vw;
    display: block;
    text-align: center;
    margin-top: 15vh;
    padding-bottom: 40px;
}
.contactForm input{
    width: 30vw;
    height: 3vh;
    font-size: 2vh;
}
.contactForm textarea{
    height:10vh;
    width: 30vw;
    max-width: 30vw;
    max-height: 10vh;
    min-width: 30vw;
    min-height: 10vh;
}
.contactForm button{
    border-radius: 5%;
    height: 5vh;
    width: 5vw;
    background-color: #333333;
    color: aliceblue;
    border:none;
    box-shadow: 0px 0px 0px;
}
.contactForm h3{
    margin: 0px;
    margin-top: 25px;
    padding: 0px;

}
.contacts{
    padding-right: 8vw;
}

.contactSocials{
    margin:50px;
    padding-left: 8vw;
    padding-right: 8vw;
    display: block;
    text-align: center;
}
.contactSocials img{
    width:50px;
}
.popup{
    position: absolute;
    cursor: pointer;
    display: none;
    bottom: 0;
    left: 48%;
}
.show{
    display: inline-block;
}

@media (max-width: 850px) {
    .menu {
        visibility: hidden;
    }
    .texto{
        margin-left:0px;
    }
    .topico{
        display: block;
    }
    .topico img{
        margin-left:25px;
    }
    p{
        margin:0px;
        padding: 0px;
    }
    .content{
        padding: 0px;
        margin: 40px;
        width: 65vw;
        display: block;

    }
    .content2{
        position: relative;
        padding: 1vw;
        width: 60vw;
        display: block;
    }
    .topico{
        margin: 0px;
    }
    .topico2{

        font-size: small;
        max-height:300vh;
        min-height: 25vh;
        width: 70vw;
    }
    .topico2 p {
        max-width: 80vw;
        min-width: 70vw;
    }
    p{
        min-width: 70vw;
        max-width: 90vw;
        margin:0 auto;
        padding: 0;
    }
    
    .caroussel{
        display: none;
    }
    .proj{
        max-height: 100vh;
        overflow-y: scroll;
        background-color: rgba(165, 165, 165, 0.425);
        width: 80vw;
        margin:0 auto;
        border:#333333;
        border-width: 2px;
    }
    .contactSocials{
        display: inline-flex;
        margin-top: 10vh;
    }
    .contactForm{
        display: none;
    }
    .contactForm input{
        width: 50vw;
        height: 3vh;
        font-size: 2vh;
    }
    .contactForm textarea{
        height:10vh;
        width: 50vw;
    }
}